/* CSS Variables for Colors */
:root {
    --main-bg-color: rgb(250, 252, 252);
    --sidebar-bg-color: rgb(222, 228, 230);
    --main-text-color: rgb(9, 47, 59);
    --main-link-color: rgb(36, 88, 106);
    --link-hover-color: rgb(20, 111, 138);
    --bold-link-color: rgb(60, 120, 139);
    --button-color: rgb(9, 47, 59);
    --button-hover-color: rgb(36, 88, 106);
}

/* GENERAL */
body {
    margin: 0;
    background-color: var(--main-bg-color);
    padding-bottom: 50px;
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    color: var(--main-text-color);
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 700;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 50px;
    height: 400px;
}


/* MORE GENERAL */
.bold-a, 
a {
    text-decoration: none;
    color: var(--bold-link-color);
    font-weight: 400;
}
.bold-a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
    font-weight: 700;
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
    font-weight: 700;
}

li::marker {
    color: var(--main-text-color);
}

input[type=submit] {
    width: 175px;
    background-color: var(--button-color);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
}
input[type=submit]:hover {
    background-color: var(--button-hover-color);
}
#submit-btn {
    width: 175px;
}

/* SIDEBAR */
.search {
    width: 100%;
    font-size: 15px;
    height: 30px;
    padding-top: 4px;
    padding-left: 3px;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.sidebar * {
    margin-top: 6px;
    margin-left: 3px;
}

.sidebar h2 {
    font-weight: 700;
    margin-top: 5px;
    margin-left: 15px;
}


/* INDEX PAGE */
.home-h1,
.home-h3 {
    position: relative;
    right: 50px;
    width: 100%;
    text-align: center;
}

.home-h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.index-container ul {
    margin-left: 68px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-auto-flow: column;
    grid-gap: 5px;
}


/* EDIT ENTRY PAGE and CREATE NEW */
.create-new-form,
.edit-form {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.create-new-form label {
    margin-top: 10px;
    font-size: 20px;
}

.create-new-form input,
.create-new-form textarea {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    width: 90%;
}

.edit-form textarea {
    width: 90%;
}