/* DEFAULT CSS */
body {
    margin: 0;
    background-color: white;
    padding-bottom: 50px;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 50px;
    height: 400px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 30px;
}


.sidebar h2 {
    margin-top: 5px;
}


/* EDIT ENTRY PAGE and CREATE NEW */
.create-new-form,
.edit-form{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.create-new-form label {
    margin-top: 10px;
    font-size: 20px;
}

.create-new-form input,
.create-new-form textarea {
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
}

.edit-form textarea {
    width: 90%;
}

#submit-btn {
    width: 150px;
}


.index-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}