{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Wiki Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form class="create-new-form" action="{% url 'save' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="title">
        <label for="content">Content:</label>
        <textarea name="content" rows="20" cols="60" placeholder="content here"></textarea><br>
        <input id="submit-btn" type="submit" value="Save">
    </form>
{% endblock %}